# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

#
*.bin/
*.obj/
*.Debug/
*.release/
*.ipch/
*.sdf
*.vcxproj.user
*.sln
*.aps
*.pdb
Debug/
*.Release/
bin/
obj/
*.opensdf
*.ipch
Release/
*.obj
*.tlog
*opendb
*.VC.db





/T9W-Wifi-SDK/C#/robotpenetdevice_cs_sdk&demo/robotpenetdevice_cs_demo/.vs
/T9W-Wifi-SDK/C#/robotpenetdevice_cs_sdk&demo/robotpenetdevice_cs_sdk/.vs
