<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RobotPenTestDll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="demo_type" value="1" />
    <add key="isoem" value="true" />
    <add key="oemkey" value="36e4a46f689611e8b441060400ef5315" />
  </appSettings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <RobotPenTestDll.Properties.Settings>
            <setting name="screenO" serializeAs="String">
                <value>1</value>
            </setting>
        </RobotPenTestDll.Properties.Settings>
    </userSettings>
</configuration>
